@use '../../theme/theme'
@use '../../theme/color'
@use '../../dirndl/cmp/form'
@use '../multi/base'
@use 'context-menu'

//various choices style mixins

@mixin vertical
  display: flex
  flex-direction: column
  gap: 2px

  > choice
    display: block
    cursor: pointer

    &:hover
      background-color: #f7f7f7

    &[_selected]
      font-weight: bold

@mixin horizontal
  display: flex
  gap: 2rem

  > choice
    display: block
    cursor: pointer

    &:hover
      background-color: #f7f7f7

    &[_selected]
      text-decoration: underline

@mixin suggestions
  > edit
    @include form.fancy-input
    @include form.bordered
    display: block
    color: #333
    height: 100%
    line-height: 145%
    width: 30rem

    choice-node:not([contentEditable='false'])
      //color: blue

    choice-node[contentEditable='false']
      background:#e3e3e3
      border-radius: 14px
      border: solid 1px #ddd
      padding: 1px 4px
      margin: 0 2px

    //choice-node

@mixin choice-editor-tag
  choice-editor
    @include suggestions
    
@mixin decorator-suggestor
  overlay 
    //sass-unify: edit(-area)
    > .decorator-suggestor
      @include context-menu.dropdown

      display: block
      width: 20rem
      padding: 0

      > suggestor
        @include context-menu.dropdown-choices
