@use '../multi/base'

@mixin dropdown
  > button
    cursor: pointer

@mixin overlay($background-color,$border,$border-radius,$color,$link-color,$link-hover-color,$font-size: 0)
  max-height: 48rem
  width: auto
  background-color: $background-color
  border: $border
  border-radius: $border-radius
  color: $color
  padding: 0.8rem 0
  gap: 0.5rem 

  > *
    white-space: nowrap
    text-overflow: ellipsis
    //TODO - probably move to parent
    overflow: hidden
    min-height: 1.2rem
    padding: .2rem 1.1rem
    width: calc(100% - 2rem)
    min-width: 7rem
    max-width: 30vw
    
  #{base.$a-tags}
    color: $link-color
    text-decoration: none
  
  > a:hover 
    color: $link-hover-color