@use '../../theme/theme'  
@use '../../theme/color'
@use '../../dirndl/cmp/dialog'
@use '../../dirndl/cmp/heading'
@use '../../dirndl/cmp/suggestor'
@use '../../dirndl/cmp/filter'

@mixin contents
  exec-commands
    @include dialog.base-dialog
    @include dialog.two-elt-header
    
    > heading
      @include heading.panel-3

    > suggestor
      @include suggestor.fancy
      > editor
        @include filter.contents-filter
        font-size: 1.1rem 
      
      > results
        display: grid
        grid-template-columns: 8rem 1fr
        margin-top: 1rem
        row-gap: 0.5rem

        > choice
          display: contents
          > suggestion
            display: contents
            > command-area
              display: contents
              > *
                cursor: pointer
                &:hover
                  background-color: color.$dark_alpha_10
                &:first-child
                  padding-right: 1rem

        > choice[index-selected] > suggestion > command-area > *
          background-color: color.$dark_alpha_10



@mixin overlay
  body > .overlay-container.viewport-middle-center > overlay.keyboard-shortcuts-area
    @include dialog.top-offset(3rem)
  
