@use '../../theme/theme'
@use '../../theme/color'

@mixin focus-placeholder
  &::-webkit-input-placeholder
    color: transparent

  &:focus::-webkit-input-placeholder
    color: #aaa
    font-style: italic

@mixin bordered
  border-color: #aaa
    background-color: color.$light_alpha_20

@mixin fancy-input
  @include focus-placeholder
  font-size: 16px
  color: #666
  width: 100%
  background-color: transparent
  border: solid 1px transparent
  font-family: theme.$sans-font-stack
  resize: none
  padding: 0.4rem 0.4rem
  box-sizing: border-box

  &:hover
    @include bordered

  &:focus
    border-color: #555
    background-color: color.$white