@use '../../theme/theme'
@use '../../theme/color'

//heading levels. TODO - theme, and a general idea of what levels there should be
//unprefixed are probably document (reading) headings - others are panel, etc
@mixin _1
  display: block
  font-weight: bold
  color: #333

@mixin _2
  display: block
  font-weight: bold
  color: #777
  line-height: 1.5

@mixin panel-1
  display: block
  font-weight: bold
  color: #333

@mixin panel-2
  display: block
  font-weight: bold
  color: #999
  line-height: 2.0
  
  &:not(:first-of-type)
    margin-top: 1rem

@mixin panel-3
  margin: 1rem 0
  font-size: 1.5rem
  display: block

@mixin panel-lg
  margin-bottom: 0.2rem
  height: 2.0rem
  display: flex
  padding-left: 1rem
  align-items: center
  width: 100%
  box-sizing: border-box
  background: white
  color: #888

@mixin heading-actions
  margin:0 0 0.5rem
  display: flex
  width: 100%
  font-weight: bold
  justify-content: space-between

  > actions
    font-weight: normal
    display: flex
    gap: 1em

    a
      cursor: pointer