@use '../../theme/theme'

body > .overlay-container
  position: absolute
  //FIXME - theme
  z-index: 100
  top: 0
  left: 0
  display: inline-block

body > overlay-container-modal
  display: block
  bottom: 0
  right: 0
  &:last-of-type
    background-color: rgba(0,0,0,0.2)

  &.viewport-centered
    > *
      position: fixed
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
