@use '../../theme/theme'
@use '../../theme/color'

@mixin viewport-relative
  &.viewport-middle-center
    > *
      position: fixed
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)

  &.viewport-bottom-right
    > *
      position: fixed
      right: 0
      bottom: 0

  /*
    leaving the rest as an exercise
    */
  

body > .overlay-container
  position: absolute
  //FIXME - theme
  z-index: 100
  top: 0
  left: 0
  display: inline-block

  @include viewport-relative

  > overlay
    display: flex
    flex-direction: column
    box-sizing: border-box

    > actions
      display: flex
      justify-content: center

      &:not(:empty)
        margin-bottom: 1rem

      > a
        cursor: pointer
        color: color.$primary-color
        //FIXME - sass - theme
        &:hover
          color: color.$primary-hover-color



body > overlay-container-modal
  display: block
  bottom: 0
  right: 0
  &:last-of-type
    background-color: rgba(0,0,0,0.2)

  @include viewport-relative

  > overlay

    //FIXME - sass - theme
    background-color: white
    

@mixin actions-last
  display: flex
  flex-direction: column-reverse

  > actions
    margin-top: 1rem