@use '../../theme/color'

$tick-height: 8px
$knob-size: 16px

@mixin contents
  height: 24px
  display: block
  position: relative

  > *
    display: block
    position: absolute

  > line
    left: 0
    right: 0
    top: 50%

  > knob
    top: calc(50% - calc($knob-size/2))
    margin-left: calc(0px - calc($knob-size/2))
    height: $knob-size
    width: $knob-size
    background-color:  blue

@mixin ticked
  height: 24px

  > line
    height: 1px
    background-color:  #999

  > tick
    top: calc(50% - calc($tick-height/2))
    height: $tick-height
    width: 1px
    background-color:  #666

@mixin inner
  height: 8px

  > line
    height: 5px
    background-color:  #ccc
    border-radius: 5px
    top: 2px

    > extent
      background-color:  color.$slider-extent-color
      display: block
      position: absolute
      height: 5px
      left: 0
      border-radius: 5px

  > tick
    display: none

  > knob
    top: calc(50% - calc($knob-size/2))
    margin-left: calc(0px - calc($knob-size*3/4))