@use '../../theme/theme'
@use '../../theme/color'
@use 'action'
@use '../multi/icons/filter-circle-outline.svg.data-url-rule' as filter-circle
@use '../multi/icons/ellipsis-vertical.svg.data-url-rule' as ellipsis-vertical
@use '../multi/icons/chevron-up-circle-outline.svg.data-url-rule' as chevron-up
@use '../multi/icons/chevron-down-circle-outline.svg.data-url-rule' as chevron-down
@use '../multi/icons/chevron-up-down-circle-outline.svg.data-url-rule' as chevron-up-down


@mixin bound
  th
    padding-right: 1rem

    > ch-content
      display: grid
      width: 100%
      grid-template-columns: 1fr min-content min-content

      > span
        padding-right: 1.5rem

      > column-filter, > sort-direction
        @include action.content(16px)
        visibility: hidden
        
      > column-filter
        padding-right: 0.5rem
        @include filter-circle.content

        &[filtered], &[filter-open]
          visibility: visible

      > sort-direction
        @include chevron-up-down.content

        &[direction]
          visibility: visible

        &[direction='DESCENDING']
          @include chevron-down.content

        &[direction='ASCENDING']
          @include chevron-up.content

      &:hover
        cursor: pointer
        > column-filter, > sort-direction
          visibility: visible

@mixin data-table
  border-spacing: 0

  > tbody > tr:nth-of-type(even) 
    background-color:#f3f3fa

  > tbody > tr:first-of-type td
    padding-top: 8px
  
  > thead > tr > th
    border-bottom: solid 1px #bbb
    cursor: pointer
    white-space: nowrap

  td, th
    padding: 6px 2px

  td > value
    display: block
    
    &.numeric
      text-align: right
      padding-right: 1rem

    &.nowrap
      white-space: nowrap
    
@mixin no-wrap
  td > *
    white-space: nowrap
    overflow-x: scroll
    display: inline-block
    max-width: 14rem

  td > *:not(:first-child)
    display: none

  th
    text-align: left
    padding-right: 2rem

  td > *.wide
    max-width: 28rem

  td > *.x-wide
    max-width: 40rem

  td > *.xx-wide
    max-width: 56rem

@mixin clickable
  tr:hover 
    cursor: pointer
    
    > td
      background-color: #eee

@mixin bordered-pad-left
  th:first-of-type, td:first-of-type
    padding-left: 1rem

@mixin more-horizontal-space
  th, td
    padding-left: 6px
    padding-right: 6px

@mixin editor
  