/* - a  flat-tree has the tag structure of a tree, but is presented as a vertical list of leaves
 * - implemented as a mixin so it can be scoped (if there are other/non-dirndl tree elements in the document)
 * */
gallery {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Open Sans", "Arial";
  background: white;
  min-height: 100vh;
}
gallery a, gallery a.link, gallery a.visited {
  text-decoration: none;
  color: black;
}
gallery a:hover, gallery a.link:hover, gallery a.visited:hover {
  color: #387ed3;
}
gallery > heading {
  display: block;
  font-weight: bold;
  color: #0f4589;
  margin: 1rem 0;
}
gallery about > ul {
  margin-top: 0;
}
gallery header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
gallery header img {
  width: 200px;
}
gallery header heading {
  font-size: 18px;
  font-weight: bold;
}
gallery header spacer {
  display: block;
  width: 200px;
}
gallery table.metadata {
  box-sizing: border-box;
  margin-bottom: 1rem;
  border-collapse: separate;
  border-spacing: 1rem 0.5rem;
}
gallery table.metadata th {
  text-align: left;
  width: 12rem;
}
gallery table.metadata td > value {
  white-space: pre-wrap;
}
gallery table.metadata td > value:not(:last-child):after {
  content: ", ";
}

gallery-home {
  padding: 2rem 6rem;
}
gallery-home > heading {
  margin: 1rem 0;
  font-size: 1.5rem;
  display: block;
}
gallery-home > cards {
  display: flex;
  gap: 4rem;
}
gallery-home > cards > card {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: auto;
  border: solid 1px #ccc;
  padding: 1.5rem 2rem;
  max-width: 24rem;
  min-height: 10rem;
}
gallery-home > cards > card > heading, gallery-home > cards > card > heading-actions {
  margin: 0 0 0.5rem;
  display: flex;
  width: 100%;
  font-weight: bold;
  justify-content: space-between;
}
gallery-home > cards > card > heading > actions, gallery-home > cards > card > heading-actions > actions {
  font-weight: normal;
  display: flex;
  gap: 1em;
}
gallery-home > cards > card > heading > actions a, gallery-home > cards > card > heading-actions > actions a {
  cursor: pointer;
}
gallery-home > cards > card > key-values {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 1rem;
  row-gap: 0.1rem;
}
gallery-home > cards > card > key-values > key-value {
  display: contents;
}
gallery-home > cards > card > key-values > key-value > key {
  color: #777;
}
gallery-home > cards > card > a {
  display: block;
  margin: 0 0 0.2rem;
}

choice-editor-gallery > info {
  max-width: 600px;
  margin: 2rem auto;
  display: block;
  padding: 1rem 3rem;
  border: solid 1px blue;
  width: 450px;
}

tree-area tree.root-hidden > .node > node-label {
  display: none;
}
tree-area tree.root-hidden > .node > nodes {
  padding-left: 0;
}
tree-area tree .node > node-label {
  position: relative;
  display: block;
  margin-bottom: 5px;
}
tree-area tree .node > node-label > span:first-child {
  display: inline-block;
  width: 12px;
  border: solid 1px #ccc;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  color: #777;
  height: 12px;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 8px;
  cursor: pointer;
}
tree-area tree .node > node-label > node-label {
  display: inline-block;
  cursor: pointer;
}
tree-area tree .node:not(.open) > node-label > span:before {
  content: " ";
  position: absolute;
  border-radius: 3px;
  color: #bbb;
  background-color: #bbb;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 7.5px;
}
tree-area tree .node.leaf > node-label > span {
  visibility: hidden;
}
tree-area tree .node.keyboard-selected > node-label {
  background-color: #E6E6E6;
}
tree-area tree .node > nodes {
  padding-left: 20px;
  display: none;
}
tree-area tree .node.open > nodes {
  display: block;
}

tree-table-area tree-table {
  display: grid;
  column-gap: 1rem;
}
tree-table-area tree-table > columns {
  display: contents;
  font-weight: bold;
}
tree-table-area tree-table > tree {
  display: contents;
}
tree-table-area tree-table > tree .node, tree-table-area tree-table > tree .node, tree-table-area tree-table > tree .node.open > nodes, tree-table-area tree-table > tree .node > cells {
  display: contents !important;
}
tree-table-area tree-table > tree node-label {
  white-space: nowrap;
  display: inline-block;
  overflow: auto;
}
tree-table-area tree-table > tree > .node > node-label {
  margin-left: 0;
}
tree-table-area tree-table > tree > .node > nodes > .node > node-label {
  margin-left: 1rem;
}
tree-table-area tree-table > tree > .node > nodes > .node > nodes > .node > node-label {
  margin-left: 2rem;
}
tree-table-area tree-table > tree > .node > nodes > .node > nodes > .node > nodes > .node > node-label {
  margin-left: 3rem;
}
tree-table-area tree-table > tree > .node > nodes > .node > nodes > .node > nodes > .node > nodes > .node > node-label {
  margin-left: 4rem;
}
tree-table-area tree-table > tree > .node > nodes > .node > nodes > .node > nodes > .node > nodes > .node > nodes > .node > node-label {
  margin-left: 5rem;
}
tree-table-area tree-table > tree .node > cells > *:hover {
  outline: solid 1px #AAF;
  background: #FCFCFF;
}
tree-table-area tree-table > tree .node > cells > *.editing {
  visibility: hidden;
}
tree-table-area tree-table > tree.root-hidden > .node > node-label {
  display: none;
}
tree-table-area tree-table > tree.root-hidden > .node > nodes {
  padding-left: 0;
}
tree-table-area tree-table > tree .node > node-label {
  position: relative;
  display: block;
  margin-bottom: 5px;
}
tree-table-area tree-table > tree .node > node-label > span:first-child {
  display: inline-block;
  width: 12px;
  border: solid 1px #ccc;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  color: #777;
  height: 12px;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 5px;
  margin-right: 8px;
  cursor: pointer;
}
tree-table-area tree-table > tree .node > node-label > node-label {
  display: inline-block;
  cursor: pointer;
}
tree-table-area tree-table > tree .node:not(.open) > node-label > span:before {
  content: " ";
  position: absolute;
  border-radius: 3px;
  color: #bbb;
  background-color: #bbb;
  width: 6px;
  height: 6px;
  left: 3px;
  top: 7.5px;
}
tree-table-area tree-table > tree .node.leaf > node-label > span {
  visibility: hidden;
}
tree-table-area tree-table > tree .node.keyboard-selected > node-label {
  background-color: #E6E6E6;
}
tree-table-area tree-table > tree .node > nodes {
  padding-left: 20px;
  display: none;
}
tree-table-area tree-table > tree .node.open > nodes {
  display: block;
}
