@use '../../dirndl/cmp/table'
@use '../../dirndl/cmp/heading'

@mixin contents
  > submit-area
    width: 30rem
    display: block
    margin: 1rem auto
    text-align: center

    > a
      color: blue

  heading
    @include heading.panel-2
    color: #333

  tx-counts
    display: grid
    grid-template-columns: 1fr 1fr
    width: 20rem
    column-gap: 1rem

    > tx-count
      display: contents

  th
    text-align: left

  tx-groups, txs
    @include table.data-table
    @include table.no-wrap

    td
      padding: 2px
