@use '../../dirndl/cmp/panel'
@use '../../dirndl/cmp/sequence/sequence-area' as sequence
@use '../multi/common'
@use 'console-home'
@use 'romcom-session'

@mixin contents
  > .server-console
    @include common.bordered-full

    display: flex
    flex-direction: column
    max-width: 1200px
    margin: 0 auto
    padding: 0 2rem 2rem
    font-family: 'Open Sans','Arial'
    background: white
    min-height: 100vh

    a, a.link, a.visited
      text-decoration: none
      color: #387ed3  

      &:hover
        text-decoration: underline

    > heading
      @include common.sub-heading

    about
      display: block

      > heading
        @include common.sub-heading

      > ul
        margin-top: 0

    header
      display: flex
      width: 100%
      align-items: center
      justify-content: space-between

      img
        width: 200px

      heading
        font-size: 18px
        font-weight: bold
      
      spacer
        display: block
        width: 200px

    table.metadata
      box-sizing: border-box
      margin-bottom: 1rem
      border-collapse: separate
      border-spacing: 1rem 0.5rem

      th
        text-align: left
        width: 12rem

      td
        > value
          white-space: pre-wrap

          &:not(:last-child):after
            content:', '
    > definition-editor
      @include common.definition-editor

    .panel
      @include panel.contents

  > server-console-home.server-console
    @include console-home.contents

  > romcom-session.server-console
    @include romcom-session.contents


  &[compact-report-ui] > .report
    table.metadata, about
      display: none

    definition-editor
      margin: 0.5rem auto !important

    > report > header
      display: none

@mixin overlay
  @include sequence.overlay
