body > page {
  display: grid;
  grid-template-areas: "header main";
  height: 100vh;
  width: 100vw;
}
body > page > header {
  display: block;
  background-color: pink;
  height: 50px;
  text-align: center;
  color: black;
}
body > page > main {
  display: grid;
  grid-template-areas: "tree history" "tree properties";
}
body > page > main > selection-tree {
  grid-area: tree;
  background-color: blue;
}
body > page > main > history {
  grid-area: history;
  background-color: green;
}
body > page > main > properties {
  grid-area: properties;
  background-color: purple;
}
