body {
  margin: 0;
  font-family: "Helvetica Neue", Arial;
  font-size: 14px;
}

body > page {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 50px 1fr;
  height: 100vh;
  width: 100vw;
}
body > page > * {
  min-height: 0;
}
body > page > header {
  display: flex;
  background-color: #ff8fa2;
  color: white;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 120%;
}
body > page > main {
  display: grid;
  grid-template-areas: "table properties" "table documentation";
  grid-template-columns: 2fr 1fr;
  gap: 1px;
  background-color: #777;
}
body > page > main > feature-table {
  grid-area: table;
  display: block;
}
body > page > main > feature-table > table {
  border: solid 1px #ddd;
  border-collapse: collapse;
  /* align-self: start
  * unused - but good to know - this is how to stop auto-stretch of tables
  * */
  width: 100%;
}
body > page > main > feature-table > table tr.selected {
  background-color: #f0f0fa;
}
body > page > main > feature-table > table th {
  min-width: 7em;
}
body > page > main > feature-table > table td.in-progress {
  background-color: #99cc66;
}
body > page > main > feature-table > table td.complete {
  background-color: #99cccc;
}
body > page > main > feature-table > table td.open {
  background-color: #ffff66;
}
body > page > main > feature-table > table td, body > page > main > feature-table > table th {
  border: solid 1px #ddd;
  font-weight: normal;
  padding: 4px 2px;
}
body > page > main > feature-table > table td > *, body > page > main > feature-table > table th > * {
  line-height: 18px;
  height: 20px;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
body > page > main > feature-table > table td > version-name, body > page > main > feature-table > table th > version-name {
  color: #777;
}
body > page > main > feature-table > table td > feature-name, body > page > main > feature-table > table th > feature-name {
  max-width: 250px;
  padding-left: 5px;
}
body > page > main > properties {
  grid-area: properties;
}
body > page > main > properties > header {
  display: flex;
  background-color: #eee;
  color: #333;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  height: 28px;
}
body > page > main > properties > table {
  padding: 0.5rem;
}
body > page > main > properties > table th, body > page > main > properties > table td {
  text-align: left;
  padding-left: 0.5rem;
}
body > page > main > documentation {
  grid-area: documentation;
}
body > page > main > documentation > header {
  display: flex;
  background-color: #eee;
  color: #333;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  height: 28px;
}
body > page > main > documentation > content {
  display: block;
  padding: 0.5em;
  font-size: 16px;
}
body > page > main > * {
  background-color: white;
  min-height: 0;
  min-width: 0;
  overflow: scroll;
}
