div.tmwd-popup {
	position: absolute;
	background-color: #333;
	border: solid 2px #eee;
	padding: 12px;
	border-radius: 6px;
	color: #eee;
	font-size: 15px;
	font-family: sans-serif;
	max-width: 300px;
	min-width: 300px;
	cursor:pointer;
}
div.tmwd-popup.bubble:before{
	content: "";
  position: absolute;
  top: 100%;
  left: 30px;
  height: 20px;
  width: 20px;
  background: gray;
  box-sizing:border-box;
  transform: rotate(45deg) translate(-50%);
}

div.tmwd-popup caption-area {
	font-weight: bold;
}

div.tmwd-popup caption-area, div.tmwd-popup description {
	display: block;
	padding-bottom: 1em;
}

div.tmwd-popup description {
	white-space: pre-wrap;
}

