/*
2024 styles
*/
/*
mainmenu2
*/
div.alcina-MainMenu2 {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}
div.alcina-MainMenu2 > div {
  display: flex;
}
div.alcina-MainMenu2 > div.left {
  justify-content: flex-start;
}
div.alcina-MainMenu2 > div.center {
  justify-content: center;
}
div.alcina-MainMenu2 > div.right {
  justify-content: flex-end;
}
div.alcina-MainMenu2 {
  background: hsl(197.32deg 53.01% 44.12%) bottom left repeat-x;
  height: 28px;
  border-top: 1px solid #b9deec;
  border-bottom: 4px solid #104860;
}
div.mainTabPanel .gwt-TabBar .gwt-TabBarItem {
  margin-left: 0px;
  background-color: transparent;
  font-weight: normal;
  padding: 0px;
}
div.alcina-MainMenu2 a,
div.alcina-MainMenu2 a:link,
div.alcina-MainMenu2 a:visited,
div.alcina-MainMenu2 a:active,
div.alcina-MainMenu2 div.gwt-Label {
  padding: 7px 15px 7px 15px;
  color: #ffffff;
  display: block;
  text-decoration: none;
  line-height: 1em;
  /* background-image: url(data:image/gif;base64,R0lGODlhAgACAIAAALne7EB+myH5BAAAAAAALAAAAAACAAIAAAICDFwAOw==);
 */
  background-repeat: repeat-y;
  font-size: 1.15em;
  white-space: nowrap;
}
div.alcina-MainMenu2 .gwt-TabBarItem-selected {
  background-color: #104860;
}
div.mainTabPanel .gwt-TabPanelBottom {
  border: none;
}
