.nav-module {
	
}

.nav-module .bar {
	width: 100%;
	background-color: var(- -nav-bar-color);
	height: 36px;
	border-bottom-color: var(- -jade-border);
	box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.55);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 6px 0 0;
	position: relative;
	font-family: var(- -title-font);
	border-bottom-style: solid;
}

.nav-module .bar .center {
	height: 28px;
	width: var(- -nav-bar-center-width);
	max-width: calc(100vw - 40px);
	margin: 0px auto;
	border-radius: var(- -nav-bar-center-border-radius);
	border-style: solid;
	border-width: 1px;
	border-color: var(- -jade-border);
	box-shadow: inset 0px 0px 1px 0px rgba(50, 50, 50, 0.25);
	margin: 0px auto;
}

.nav-module .bar .logo {
	text-align:center;
	padding-top:2px;
	font-size: 20px;
	color: var(- -nav-bar-button-color);
}

.nav-module .bar .sign-in {
	position: absolute;
	top: var(- -nav-bar-top-margin);
	right: var(- -nav-bar-button-indent);
	font-size: 18px;
	padding: 3px;
	color: var(- -nav-bar-button-color);
}