@use '../../theme/theme'
@use '../../dirndl/multi/base'
@use '../../dirndl/multi/form'
@use '../../dirndl/cmp/app-suggestor'
@use '../cmp/layer-selections'
@use '../cmp/properties'
@use '../cmp/selections'
@use '../multi/common'
@use '../../dirndl/cmp/status'
@use '../../dirndl/cmp/overlay'
@use '../../dirndl/cmp/heading'
@use '../../dirndl/cmp/keyboard-shortcuts'
@use '../../dirndl/cmp/help'

@use 'header'

body
  margin: 0
  font-family: theme.$font-stack
  font-size: 16px

body > page
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: auto
  grid-template-areas:  "header header header header"     "layers layers layers props"    "input input output output"
  grid-template-rows: 50px 1fr 260px
  height: 100vh
  width: 100vw
  background: #ccc
  gap: 1px

  > *
    min-height: 0
    background: white
    position: relative

    > heading
      @include heading.panel-lg

  > header
    @include header.contents

  > layers
    @include layer-selections.contents

  > properties
    @include properties.contents
    
  > selections
    @include selections.contents

@include app-suggestor.contents
@include keyboard-shortcuts.contents
@include help.contents
@include properties.overlay
