body {
	background-color: var(- -body-background);
	margin: 0;
}

body,td {
	font-family: var(- -body-font);
	color: #444;
	font-size: var(- -body-font-size);
	line-height:130%;
}

.main-panel {
	width: calc(1000px - 30px);
	margin:0 auto;
	padding:1em;
	border: none;
}

.main-panel>h1 {
	font-family: var(- -title-font);
	color: var(- -h1-font-color);
	font-weight: var(- -h1-font-weight);
	font-size: var(- -h1-font-size);
	margin: 0 0 calc(var(- -h1-font-size)/2) 0;
}

a {
	text-decoration: none;
	color: var(- -jade-link-color);
}

a:hover {
	text-decoration: underline;
}