html {
	-jade-classic: #227e4d;
	-nav-bar-color: hsla(148, 67%, 39%, 0.8);
	-nav-bar-color: hsl(199, 57%, 97%);
	-caption-color: hsla(148, 67%, 39%, 0.8);
	-jade-border: hsla(148, 80%, 34%, 1);
	-jade-link-color: hsla(148, 80%, 34%, 1);
	-jade-search-background: hsla(148, 37%, 97%, 1.0);
	-nav-bar-top-margin: 7px;
	-nav-bar-button-indent: 32px;
	-nav-bar-button-color: hsla(86.3, 27%, 56%,0.5);
	-nav-bar-button-background: hsla(148, 42%, 47%, 1.0);
	-nav-bar-button-background-hover: hsla(148, 37%, 57%, 1.0);
	-nav-bar-input-glow: hsla(148, 37%, 57%, 0.5);
	-nav-bar-center-border-radius: 2px;
	-nav-bar-center-width: 560px;
	-nav-bar-separator-color: hsla(148, 22%, 52%, 1.0);
	-nav-bar-border-color: hsla(148, 27%, 85%, 1);
	-nav-bar-selected-color: hsla(148, 17%, 95%, 1);
	-nav-bar-line-width: 534px;
	-nav-bar-first-col-width: 380px;
	-nav-bar-second-col-width: 140px;
	-title-font: 'Montserrat', Arial;
	-body-background: hsl(199, 57%, 100% );
}

body {
	-body-font: 'Khula', Arial;
	-body-font-size: 14px;
	-body-narrow-line-height: 18px;
}

.caption-link {
	-caption-link-font-size: 18px;
	-caption-link-line-height: 20px;
}

h1 {
	-h1-font-weight: bold;
	-h1-font-color: var(- -caption-color);
	-h1-font-size: 24px;
}

h2 {
	-h2-font-weight: bold;
	-h2-font-color: #333;
	-h2-font-size: 20px;
	-h2-line-height: 24px;
}

.lesser-subtitle {
	-lesser-subtitle-font-weight: normal;
	-lesser-subtitle-font-color: #777;
	-lesser-subtitle-font-size: 14px;
	-lesser-subtitle-line-height: 16px;
}

.l3-subtitle {
	-l3-subtitle-font-weight: normal;
	-l3-subtitle-font-color: #888;
	-l3-subtitle-font-size: 13px;
	-l3-subtitle-line-height: 19px;
}

.body-smaller {
	-body-smaller-font-weight: normal;
	-body-smaller-font-color: #333;
	-body-smaller-font-size: 15px;
	-body-smaller-line-height: 18px;
}

.main-panel-head {
	-main-panel-head-padding: 2px 0 22px 0;
}

.popup {
	-popup-box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.05);
}