<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="gwt:property"
		content="baseUrl=%%FEATURE_PATH%%/cc.alcina.framework.servlet.component.romcom.RemoteObjectModelComponentClient/">
	<link rel="icon" href="data:,">
	<title>Remote Component</title>
	<script type="text/javascript" language="javascript">
    %%NOCACHE_JS%%
	</script>
	<script type="text/javascript" language="javascript">
			window.__alc_romcom_session="%%SESSION_JSON%%";
		window._alc_websocket_transport_client_prefix = '%%WEBSOCKET_TRANSPORT_CLIENT_PREFIX%%/';
	</script>
</head>

<body>
	%%LOAD_INDICATOR_HTML%%
</body>

</html>