<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="icon" href="data:,">
<title>Remote Component</title>
<script>window._alc_websocket_transport_client_prefix='remote/';</script>
</head>

<body>
    <iframe src="javascript:''" id="__gwt_historyFrame"
        style="position: absolute; width: 0; height: 0; border: 0"></iframe>
    <script type="text/javascript" language="javascript"
        src="/remote/cc.alcina.framework.servlet.component.romcom.RemoteObjectModelComponentClient/cc.alcina.framework.servlet.component.romcom.RemoteObjectModelComponentClient.nocache.js"></script>
</body>
</html>
