.ol-status {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  z-index: 1;
}
.ol-status > .element {
  display: block;
  background-color: #323232;
  color: #f1f1f1;
  min-height: 48px;
  min-width: 20rem;
  max-width: 35rem;
  padding: 16px 24px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  margin: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  cursor: default;
  white-space: pre-wrap;
  max-height: 70vh;
  overflow: scroll;
}
.ol-status > .element.removing {
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  transform: translateX(-100%);
}

caught {
  display: block;
  padding: 1em;
  white-space: pre-wrap;
}

body > .overlay-container {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  display: inline-block;
}
body > .overlay-container > overlay {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
body > .overlay-container > overlay > actions {
  display: flex;
  justify-content: center;
}
body > .overlay-container > overlay > actions:not(:empty) {
  margin-bottom: 1rem;
}
body > .overlay-container > overlay > actions > a {
  cursor: pointer;
  color: #333;
}
body > .overlay-container > overlay > actions > a:hover {
  color: #777;
}

body > overlay-container-modal {
  display: block;
  bottom: 0;
  right: 0;
}
body > overlay-container-modal:last-of-type {
  background-color: rgba(0, 0, 0, 0.2);
}
body > overlay-container-modal.viewport-centered > * {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body > overlay-container-modal > overlay {
  background-color: white;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Arial;
  font-size: 16px;
}

body > page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "layers layers layers props" "input input output output";
  grid-template-rows: 50px 1fr 200px;
  height: 100vh;
  width: 100vw;
  background: #ccc;
  gap: 1px;
}
body > page > * {
  min-height: 0;
  background: white;
}
body > page > header {
  display: flex;
  background-color: #ff8fa2;
  color: white;
  align-items: center;
  justify-content: center;
  line-height: 100%;
  font-size: 120%;
  grid-area: header;
}
body > page > layers {
  display: flex;
  flex-direction: column;
  gap: 2px;
  grid-area: layers;
}
body > page > layers > layer-selections {
  display: block;
  white-space: pre;
}
body > page > properties {
  display: block;
  grid-area: props;
}
body > page > selections {
  display: block;
}
body > page > selections.input {
  grid-area: input;
}
body > page > selections.output {
  grid-area: output;
}
