/* copied from suggestor FIXME actions should be split out into buttons
 *
 *  TODO - move some/most to dropdown
 * */
overlay > menu {
  background: white;
  user-select: none;
  padding: 1rem 0;
  border: solid 1px #ccc;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.09), 0 6px 30px 5px rgba(0, 0, 0, 0.02), 0 8px 10px -5px rgba(0, 0, 0, 0.01);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  padding: 0.5rem 0;
}
overlay > menu > action {
  padding: 0.4rem 1rem;
  /* use padding, not line-height, so hover bkg is vertically centered*/
  line-height: 2;
  cursor: pointer;
  display: grid;
  grid-template-columns: 15px 1fr;
  padding: 4px 0;
  align-items: baseline;
}
overlay > menu > action:hover, overlay > menu > action[index-selected] {
  background-color: #00000010;
}
overlay > menu > action > icon {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position-y: 1px;
}
overlay > menu > action {
  padding: 0 1.5rem;
  grid-template-columns: 1fr;
}
overlay > menu > action > icon {
  display: none;
}
overlay > menu input[type=checkbox]:focus {
  outline: 0;
}
overlay > menu input[type=checkbox] {
  appearance: none;
  background-color: #fafafa;
  border: 1px solid #d3d3d3;
  border-radius: 16px;
  cursor: pointer;
  box-sizing: border-box;
  height: 18px;
  position: relative;
  transition: border 0.25s 0.15s, box-shadow 0.25s 0.3s, padding 0.25s;
  width: 35px;
  vertical-align: top;
  -webkit-appearance: none;
  margin: 0;
  margin-top: 1px;
}
overlay > menu input[type=checkbox]:after {
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 14px;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.025), 0 1px 4px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  height: 14px;
  left: 0;
  position: absolute;
  right: 16px;
  top: 0;
  transition: border 0.25s 0.15s, left 0.25s 0.1s, right 0.15s 0.175s;
}
overlay > menu input[type=checkbox]:checked {
  border-color: #3050FF;
  box-shadow: inset 0 0 0 13px #3050FF;
  padding-left: 18px;
  transition: border 0.25s, box-shadow 0.25s, padding 0.25s 0.15s;
}
overlay > menu input[type=checkbox]:checked:after {
  border-color: #3050FF;
  left: 16px;
  right: 0;
  transition: border 0.25s, left 0.15s 0.25s, right 0.25s 0.175s;
}
overlay > menu > heading {
  display: block;
  font-weight: bold;
  color: #999;
  line-height: 2;
}
overlay > menu > heading:not(:first-of-type) {
  margin-top: 1rem;
}
overlay > menu > choices {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 0.5rem;
}
overlay > menu > choices > choice {
  display: block;
  cursor: pointer;
  user-select: none;
}
overlay > menu > choices > choice:hover {
  background-color: #f7f7f7;
}
overlay > menu > choices > choice[_selected] {
  font-weight: bold;
}
