.login-page .two-factor-image img{
	width:200px;
	height:200px;
	padding:5px;
	border: solid 1px #eee;
}
.login-page .two-factor-image{
	text-align:center;
}
.login-page .subtitle{
	max-width:320px;
}
.login-page .lux-status-panel .loading{
	visibility:hidden;
}
.login-page .lux-form-element{
	margin-bottom:0;
}