@use '../../theme/theme'
@use '../../dirndl/multi/base'
@use '../../dirndl/cmp/tree'

body
  margin: 0
  font-family: theme.$font-stack

body > page
  display: grid
  grid-template-areas: "header" "main"
  grid-template-rows: 50px 1fr
  height: 100vh
  width: 100vw

  > header
    display: flex
    background-color: hsl(350 100% 78% / 1)
    color: white
    align-items: center
    justify-content: center
    line-height: 100%
    font-size: 120%

  > main
    display: grid
    grid-template-areas: "table properties" "table documentation"
    grid-template-columns: 2fr 1fr
    gap: 1px
    background-color: #777

    > feature-table
      grid-area: table

    > properties
      grid-area: properties

      > header
        @include base.panel-header

    > documentation
      grid-area: documentation

      > header
        @include base.panel-header

    > *
      background-color: white





