body {
  font-family: "serif";
}
td {
  padding: 2px 8px;
  vertical-align: top;
  max-height: 6em;
  overflow: auto;
  white-space: pre-wrap;
  max-width: calc(100vw - 200px);
  word-break: break-all;
}

.allocation-queue,
.stack-trace {
  margin-bottom: 1em;
  white-space: pre;
  font-family: Courier, fixed-width;
  font-size: 14px;
  font-weight: 100;
  -webkit-font-smoothing: none;
}

div.links {
  margin-bottom: 1em;
}
div.links > div > a {
  color: #446;
  text-decoration: none;
}
div.links > div > a:visited {
  color: #744;
}

div.links > div > a:hover {
  text-decoration: underline;
}
