@use '../../theme/theme'
@use '../../dirndl/cmp/action'
@use '../../dirndl/cmp/context-menu'
@use '../multi/icons/filter-circle-outline.svg.data-url-rule' as filter-circle

@mixin contents
  display: block
  grid-area: layers
  background: #f7f7f7

  > layers
    display: grid
    gap: 1rem
    grid-template-columns: 18rem repeat(250, 200px)
    overflow: scroll
    max-height: calc(100% - 3.2rem)
    margin-top: 1rem
    box-sizing: border-box
    margin-bottom: 1rem

    > layer-selections
      display: contents
      position: relative

      .bordered-area
        
        border: solid 1px #ccc
        padding: 0.5rem
        overflow-x: hidden
        text-overflow: ellipsis
        white-space: pre
        min-height: 3rem
        cursor: pointer
        
      &[empty='true'] .bordered-area
        min-height: 1rem

      > name-area
        display: flex
        flex-direction: column
        background: #f7fffe
        position: sticky
        top: 0
        left: 0
        align-self: start

        > filter
          display: flex
          gap: 4px

          > a.filter
            @include action.content(16px)
            @include filter-circle.content
            margin-top: 1px
          
          > existing
            max-width: 80%

        &[filter-editor-open] > filter > existing
          visibility: hidden

        &:not([has-filter]):not(:hover)
          > filter
            visibility: hidden

      > selections-area
        display: contents

        > selection-area
          display: flex
          flex-direction: column
          background: #fff

          &[selectionType='VIEW']
            background: #fdd

          &[selectionType='CONTAINMENT']
            background: #dfd

          &[selectionType='DESCENT']
            background: #ddf

          &[secondary-descendant-relation],&[ancestor-of-selected]
            background: #eaeafa

          &[selected]
            background: #e3fae3


overlay-container overlay.filter-suggestor > suggestor
  @include context-menu.dropdown-choices
  padding: 0
  position: relative
  margin-top: -20px
  margin-left: 18px

  input
    line-height: 24px
    font-size: 18px
    width: 250px
  