@use '../../../theme/theme'

@mixin contents
  display: flex
  width: 100%

  > choice-editor
    flex-grow: 1

    > edit 
      border: none
      background: none
      line-height: 2.2
      width: auto

      > *
        line-height: 1.5

      cursor-target
        display: inline-block
      
      choice-node
        border-color: #eee
        background: #eee
        padding: 0.2rem 0.8rem
        display: inline-block

        > searchable
          display: inline-flex

          > name
            display: inline-block

          > operator
            display: inline-block
            width: 1.5rem
            text-align: center

            > rendered-operator
              display: inline-block
              cursor: pointer

              &:hover
                background-color: #ffffff80

          > value-editor
            display: inline-block
            height: 100%

            > select, > input
              border-color: transparent
              background-color: transparent

          &:focus-within, &:hover
            > value-editor
              > select, > input
                background-color: white


  > go-container
    display: block
    line-height: 145%
    padding: 0.4rem

    > button
      color: theme.$link-color

      &:hover
        color: theme.$link-hover-color
        background: white
        border-color: transparent

  &[popups-open] > choice-editor
    background: white

@mixin tag
  search-definition-editor
    @include contents

  overlay > choice-suggestor.decorator-suggestor
    border-color: #ffffff00
    box-shadow: none

  overlay.searchable.operator-selector
    background-color: white

    choice-editor > edit
      width: 20.2rem
      border-color: #ccc

    choice-renderer
      display: inline-flex
      gap: 0.8rem

      > operator-char
        width: 1rem

      