@use '../_theme';
@use '_base';

div.ol-dropdown {
  position: relative;
  > button > label {
    cursor: pointer;
  }
  > *:nth-child(2) {
    display: none;
    padding: 0;
  }
  li {
    list-style-type: none;
  }
}
div.ol-dropdown.-ol-open {
  > :nth-child(2) {
    display: inline-block;
    height: auto;
    left: 0;
    margin: 0;
    position: absolute;
    right: auto;
    max-height: 48rem;
    top: calc(100% + 2.5px);
    width: auto;
    z-index: 899;
    background-color: theme.$dropdown-background-color;
    border: theme.$dropdown-border;
    border-radius: theme.$dropdown-border-radius;
    padding: 0.8rem 0;
    li {
      a,
      > span {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        min-height: 1.2rem;
        padding: .2rem 1.1rem;
        width: calc(100% - 2rem);
        min-width: 7rem;
        font-size: theme.$font-size;
        max-width: 30vw;
      }
    }
    #{base.$a-tags} {
      color: theme.$dropdown-link-color;
      text-decoration: none;
    }
    a:hover {
      color: theme.$dropdown-link-hover-color;
    }
  }
}
div.ol-dropdown.-ol-open.-ol-right {
  > :nth-child(2) {
    left: auto;
    right: 0;
  }
}