@use '../../../theme/color'

$app-suggestor-font-family:  Arial !default
$app-suggestor-box-shadow-bottom: 0 16px 24px 2px rgb(0 0 0 / 9%), 0 6px 30px 5px rgb(0 0 0 / 2%), 0 8px 10px -5px rgb(0 0 0 / 1%) !default
$app-suggestor-border-color: color.$panel-border-color !default
$app-suggestor-unfocussed-border-color: color.$d-grey !default
$app-suggestor-input-color: color.$black-5 !default
$app-suggestor-width: 34rem !default
$app-suggestor-first-weight: bold !default
$app-suggestor-top: 0 !default
$app-suggestor-input-padding: .2rem .75rem !default
$app-suggestor-spinner-margin: 1rem !default
$app-suggestor-font-size: 1.1rem !default
