$placeholder-font-stack:  "Helvetica Neue", Arial  
$placeholder-color: #555
// this comment causes correct ordering (dirndl form overriden by lower)
//$placeholder-font-variant: normal
$placeholder-font-size: 65%
$placeholder-left: 6px
$placeholder-top: -5px
$placeholder-not-shown-font-size: $placeholder-font-size
$placeholder-not-shown-left: $placeholder-left
$placeholder-not-shown-top: $placeholder-top
$placeholder-font-variant: normal