// basic colours
$white: #FFF
$black-3: #333
$black-5: #555
$grey: #777

$everywhere-gray: #EEE
$strong-gray: #888
$light-gray: #f3f3f3
//FIXME - pick a usage/spelling
$light-grey: #E6E6E6


// basic palette
$primary-color: $black-3
$background-color: $white
$text-color: $primary-color

// light-background palette
