// basic colours
$white: #FFF
$black-3: #333
$black-5: #555

$lighter-grey: #F5F5F5
$everywhere-grey: #EEE
$be-grey: #bfbfbf
$light-grey: #E6E6E6
$strong-grey: #888
$grey: #777

// fades
$dark_alpha_20: #00000020
$dark_alpha_10: #00000010

$light_alpha_20: #ffffff20
$light_alpha_10: #ffffff10


// basic palette (example)
$primary-color: $black-3
$background-color: $white
$text-color: $primary-color

// other required palettes:

