/**misc **/
div.medium-title {
	border-bottom: 1px solid #528e7d;
	padding: 2px 8px 2px 8px;
	margin-bottom: 8px;
}
div.caption-area{
	float:right;
	padding-right:100px;
	padding-top:25px;
}
.main-home-icon{
	float:left;
	height:67px;
	border:none;
}

/** home page **/
table.home tbody tr.thead td {
	padding: 0px;
	vertical-align: middle;
}

table.home tbody td {
	padding: 15px;
	vertical-align: top;
}

table.home td.left {
	width: 50%;
}
div.home-text{
	font-size:1.1em;	
}
