.nav-module .search input {
	border: 2px solid transparent;
	width: calc(100% - 10px);
	height: 20px;
	font-size: 16px;
	font-family: "Khula", Arial;
	top: 0;
	left: 0;
	position: absolute;
	padding: 4px 1px 0px 8px;
	z-index: 1;
}

.nav-module .search input:focus {
	/*
	box-shadow: inset 0px 0px 1px 1px var(- -nav-bar-input-glow);
	*/
	border-color: var(- -nav-bar-input-glow);
	outline: 0;
}
