.action-button {
	display: inline-block;
	height: $size;
	width: $size;
	border-radius: 50%;
	border-style: solid;
	border-color: #fff;
	border-width: $size/10;
	position: absolute;
	right: 12px;
	top: 6px;
}

.action-button:after {
	content: '';
	position: absolute;
	top: $size/2+ $size/4*1.414+ $size/10;
	left: $size/2+ $size/4*1.414;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	height: $size/10;
	width: $size;
	background-color: #FFF;
	border-radius: 10px;
}