.action-button {
	display: inline-block;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	border-style:  solid ;
	border-color: #fff;
	border-width: 2px;
	position: absolute;
	right: 12px;
	top: 6px;
}

.action-button:after {
	content: '';
	position: absolute;
	top: 10.535px;
	left: 7.535px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	height: 2px;
	width: 10px;
	background-color: #FFF;
	border-radius: 10px;
}