.nav-search-popup {
	background: white;
	border-radius: var(- -nav-bar-center-border-radius);
	border-style: solid;
	border-width: 1px;
	border-color: var(- -nav-bar-border-color);
	box-shadow: var(--popup-box-shadow);
	padding: 0;
}

.nav-search-popup .item b {
	font-weight: normal;
}

.nav-search-popup .item span.emph {
	font-weight: bold;
	color: #333;
}

.nav-search-popup .item.selected {
	background-color: var(- -nav-bar-selected-color);
}
.nav-search-popup tr:first-child .item{
	border-top: none;
} 
.nav-search-popup .item {
	white-space: nowrap;
	padding: 9px 8px 3px 8px;
	line-height:16px;
	border-top: solid 1px #eee;
}

.nav-search-popup .line-1 {
	width: var(- -nav-bar-first-col-width);
	max-width: var(- -nav-bar-first-col-width);
}

.nav-search-popup .item.post-separator .line-1 {
	/*padding-top: 0;*/
	
}

.nav-search-popup .line-2 {
	font-size: 12px;
	color: #888;
	line-height: 13px;
	width: var(- -nav-bar-second-col-width);
}

.nav-search-popup .line-1,.nav-search-popup .line-2 {
	text-overflow: ellipsis;
	overflow-x: hidden;
	font-size: 13px;
	line-height: 16px;
	display: inline-block;
	padding-right:10px;
}

.nav-search-popup .menu>table {
	width: 100%;
	padding: 0;
	border-spacing: 0;
}