@use '../../theme/theme'
@use '../../dirndl/cmp/heading'
@use '../../dirndl/cmp/panel'

@mixin content
  padding: 2rem 6rem
  
  > heading
    @include heading.panel-3

  > cards
    padding-top: 2rem
    display: flex
    flex-wrap: wrap
    gap: 4rem

    > card
      @include panel.content
      @include panel.x2-bordered
      width: 16rem
      min-width: 16rem
      min-height: 10rem
      margin: 0

      
      
    
