@use '../../theme/theme'

@mixin horizontal-list($separator:'')
  padding: 0
  text-align: center
  width: 100%
  padding-inline-start: 0
  li 
    display: inline-block
    word-spacing: 0
  
  li:not(:last-child):after 
    content: $separator
  
body 
  margin: 0

button 
  background: transparent
  border: none
  padding: 0
  color: theme.$primary-color
  cursor: pointer
  &:hover 
    color: theme.$primary-hover-color
  
$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a, a:active, a:hover, a:visited, a:hover'

#{$a-tags}
  color: theme.$link-color
  text-decoration: none

a:hover 
  color: theme.$link-hover-color

spacer 
  display: inline-block
  height: 1px
  flex-shrink: 0
