@use '../../theme/theme'
@use '../../theme/color'

//@file-doc misc mixins and macros

$a-tags: 'a, a:active, a:hover, a:visited'
$a-tags-hover: 'a, a:active, a:hover, a:visited, a:hover'
$reset-font-tags: 'body, button, td'

$box-shadow-bottom: 0 16px 24px 2px rgb(0 0 0 / 9%), 0 6px 30px 5px rgb(0 0 0 / 2%), 0 8px 10px -5px rgb(0 0 0 / 1%)

@mixin horizontal-list($separator:'')
  padding: 0
  text-align: center
  width: 100%
  padding-inline-start: 0
  li 
    display: inline-block
    word-spacing: 0
  
  li:not(:last-child):after 
    content: $separator

@mixin primary-color-links
  #{$a-tags}
    color: theme.$primary-color

  a:hover 
    color: theme.$primary-hover-color

@mixin grey-link() 
  #{$a-tags}
    color: theme.$grey-link-color
  
  a:hover 
    color: theme.$grey-link-hover-color

@mixin panel-header($bkg-color: #eee)
  display: flex
  background-color: $bkg-color
  color: #333
  align-items: center
  justify-content: center
  line-height: 100%
  height: 28px

@mixin standard-elements()   
  body 
    margin: 0
  
  button 
    background: transparent
    border: none
    padding: 0
    color: theme.$primary-color
    cursor: pointer
    &:hover 
      color: theme.$primary-hover-color
      
  
  spacer 
    display: inline-block
    height: 1px
    flex-shrink: 0
   
  #{$a-tags}
    color: theme.$link-color
    text-decoration: none

  a:hover 
    color: theme.$link-hover-color
    text-decoration: underline

@mixin horizontal-choices()
  display: flex
  gap: 2rem

  > choice
    
    &[_selected], &:hover
     text-decoration: underline

@mixin standard-choices()
  choice > button
    all: unset

@mixin focus-outline()
  button, .focus-outline
    &:focus
      outline-style: solid
      outline-color: theme.$link-color
      outline-offset: 2px
      outline-width: 2px

  a
    &:focus
      background-color: #ddd

@mixin standard-clickable
  cursor: pointer
  
  &:hover
    opacity: 60%

@mixin blue-link
  text-decoration: none

  &, &:visited
    color: #77f
    
  &:hover
    text-decoration: underline