@use '../../theme/theme'

@mixin label-over
  form-element 
    position: relative
    margin-bottom: 1rem

    > label:has(+value>input) 
      position: absolute
      background-color: hsl(46.3, 57%, 99%)
      color: theme.$placeholder-color
      font-family: theme.$placeholder-font-stack
      font-style: theme.$placeholder-font-variant
      padding: 0 5px
      line-height: 100%
      z-index: 1
      left: theme.$placeholder-not-shown-left
      top: theme.$placeholder-not-shown-top
      font-size: theme.$placeholder-not-shown-font-size

    > label:has(+value>input:placeholder-shown) 
      cursor: text
      max-width: 66.66%
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      transform-origin: left bottom
      transform: translate(0px, 10px) scale(1.0)
      white-space: nowrap
      color: #999
      padding-left: 1px
      top: theme.$placeholder-top
      left: theme.$placeholder-left
      font-size: theme.$placeholder-font-size

    > label:not(:has(+value>input:placeholder-shown)), > label:has(+value>input:focus) 
      transform: translate(0, 0) scale(1)
      cursor: pointer
      left: theme.$placeholder-not-shown-left
      top: theme.$placeholder-not-shown-top
      font-size: theme.$placeholder-not-shown-font-size

    > label, > value>input 
      transition: all 0.2s
      touch-action: manipulation