@use '../../theme/theme'
@use '../../theme/color'
@use 'form-input'

@mixin subtle-form 
  input,
  select,
  textarea 
    line-height: 1.4em
    padding-left: 0.5em
    padding-top: 4px
    border: solid 1px #ddd
    font-size: 15px
    font-family: theme.$font-stack
    &:focus 
      border-color: transparent
      box-shadow: #5299e3 0 0 3px

  select 
    //height: 24px
    padding-top: 2px
    box-sizing: content-box
    //padding-left: 2px
    padding-right: 2px

  textarea 
    padding-top: 1px

@mixin over-only 
  input,
  select,
  textarea 
    &:not(:hover):not(:focus),
    &[readonly] 
      background: none
      border: solid 1px transparent
      //padding-left: 0.5em
      -webkit-appearance: none
      &[type='checkbox'] 
        background: initial
        border: initial
        -webkit-appearance: auto
        width: initial
  input,
  select,
  textarea 
    &[type='checkbox'] 
      width: initial
  select 
    &:not(:hover):not(:focus) 
     // padding-right: 15px

@mixin full-width 
  input,
  select,
  textarea 
    width: calc(100% - 2px)
    /*
        //FIXME - use flex to max the container width
        max-width: 30em
      */

@mixin wide-inputs
  input, select, textarea, choice-editor
    width: 30rem

@mixin medium-inputs
  input, select, textarea, choice-editor, choice-editor > edit
    width: 16rem
@mixin single-line
  display: inline-block
  flex: 1
  min-width: auto
  width: 100%
  form 
    display: flex
    section 
      display: inline-block
      flex: 1
      form-element,
      select 
        display: inline-block
      form-element 
        padding-right: 1rem
    actions
      display: inline-block
      margin: 0

@mixin bean-editor
  padding: 1em 2em
  line-height: 2.0em
  padding-bottom: 1px
  display: block
  
  &.vertical-validation
    line-height: 2.6rem

    > form > section > form-element > value > validation-feedback > message
      top: 0.3rem
      left: 1rem
      line-height: 1

  &.horizontal-validation
    > form > section > form-element > value 
      display: flex
      flex-direction: row

      > validation-feedback > message
        left: 1rem
        white-space: nowrap

  &.label-over
    @include form-input.label-over
    
  &.bordered 
    margin: 1em 0
    border-top: solid 1px #ccc
    border: none
    background-color: #f9f9f9

  &:empty 
    display: none

  &.not-first 
    padding-top: 0

  &.no-labels 
    form
      label 
        display: none
  
  &.single-line 
    @include single-line

  &.wide 
    form
      @include subtle-form
      input,
      select,
      textarea 
        width: 20em
      div.ol-select 
        display: inline-block
  &.grid 
    > form
      display: block
      > section 
        display: grid
        grid-template-columns: min-content 1fr
        row-gap: 0.5rem
        > div, form-element
          display: contents
          > label 
            white-space: nowrap
            padding-right: 2em
    &.tight-rows
      line-height: 1.2
      > form > section > form-element > value
        display: flex

  &.over-only > form
    @include over-only
    @include subtle-form
    
  &.tight 
    padding: 0.5rem 1rem
    form-element
      line-height: 1.3em
      > label.ol-label 
        display: inline-block
        white-space: nowrap
        width: 100px
  &.tight180 
    padding: 0.5rem 1rem
    form-element 
      line-height: 1.3em
      > label.ol-label 
        display: inline-block
        white-space: nowrap
        width: 180px

  /*
  FIXME - 2022 - either move to per-app style of theme - 
   */
  &.tight230 
    padding: 0.25rem 0.5rem
    form-element
      line-height: 1.3em
      > label.ol-label 
        display: inline-block
        white-space: nowrap
        width: 230px

  &[inert] > form
    opacity: 0.7

  > heading
    display: block 
    font-weight: 500
    padding-bottom: 0.2em
    padding-left: 3px

  > description
    line-height: 1.3rem
    display: block

    &:not(:empty)
      margin-bottom: 1rem


  > form
    > section
      > form-element
        display: block
        &[invalid]
          select, input
            border-color: color.$validation-error-color
          
        > value
          position: relative

          > validation-feedback
            display: block
            position: relative
            color: color.$validation-error-color

            > message
              position: absolute
              font-size: 90%
              
    > actions
        margin: 1em
        display: flex
        justify-content: center
        list-style: none
        padding: 0

        > *
          display: inline-block
          line-height: theme.$list-element-height
          padding: 0 0.5em

        &.right 
          justify-content: flex-end

    > form-validation
      display: block
      text-align: center
      padding: 0.5rem 1rem
      background-color: color.$validation-panel-background
      //border: solid 1px color.$validation-error-color
      color: color.$validation-error-color
      margin-top: 2rem


@mixin separated-heading
  bean-editor > heading
    padding-bottom: 1.0rem
    padding-left: 0

bean-editor
  @include bean-editor



/*
will always have single-line bean-editor, pad label until we work out baseline alignment
  */
edit-value 
  > label  
    padding-top: 2.0px 
  &:not(.dirty) actions
    visibility: hidden
  section > div 
    width: 100%
  input,
  textarea 
    width: 100%

