<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="gwt:property"
		content="baseUrl=alcina.gwt.test/cc.alcina.framework.servlet.component.test.AlcinaGwtTestClient/">
	<link rel="icon" href="data:,">
	<title>Alcina test client</title>
	<script type="text/javascript" language="javascript">
		<!--%%NOCACHE_JS%%-->
	</script>
	<script type="text/javascript" language="javascript">
		window._alc_websocket_transport_client_prefix = 'alcina.gwt.test/';
	</script>
	<noscript>
		<p><span>some text</span></p>
	</noscript>
</head>

<body>
</body>

</html>